<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<h3>Edit your account here</h3>
<%= form_for @user do |f| %>
	<p>
		<%= f.label :fname, "First Name" %>
		<%= f.text_area :fname %>
	</p>
	<p>
		<%= f.label :lname %>
		<%= f.text_area :lname %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
