<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= link_to "Logout", "#{request.base_url}/logout" %>
<%= link_to "Add New Post", new_post_path(@post) %> <!-- links to create a new post page -->
<%= link_to "Back to Profile", user_path(@user) %>

<% @posts.each do |post| %> <!-- displays all posts -->
	<p> <%= post.user.fname %> wrote on <%= post.created_at.strftime('%B, %d, %Y') %> </p>
	<h2> <%= link_to post.message, post %> </h2>
<% end %>
