<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h5>
	Submitted <%= time_ago_in_words(@post.created_at) %> Ago <br>
	<%= link_to ' Edit ', edit_post_path(@post) %> 
	<%= link_to ' Delete ', post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete your post?"} %>
</h5>
<h2><%= @post.message %></h2> <!--displays post -->

<p>This post has <%= @post.postcomments.count %> comments</p>
<p><% @post.postcomments.each do |postcomment| %>
    <h4> <%= postcomment.body %> </h4>
    <p> <%= postcomment.created_at.strftime('%B, %d, %Y') %> </p>
	<% end %>
</p>
<%= link_to "Add Comment", new_post_postcomment_path(@post.id) %>

